*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	--accent-color: #1771f1;
	--accent-color-hover: #0260e8;
	--background-color: #f3f5f9;
	--background-color-light: #fff;
	--text-color: #333;
	--border-color: #c4c9d5;
	--accent-button-color: #fff;
}

html[data-theme='dark'] {
	--accent-color: #1771f1;
	--accent-color-hover: #0260e8;
	--background-color: #333;
	--background-color-light: #4a4a4a;
	--text-color: #f9f9f9;
	--border-color: #eee;
	--accent-button-color: #fff;
}

body {
	font-family: "Open Sans", serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

button {
	cursor: pointer;
	font: inherit;
	color: inherit;
}
